.container,
.row {
    margin-bottom: 20px;
}

#income-form div,
#costs-form div { /*слипание блоков инпута*/
    padding: 0;
}

.panel-title {
    display: inline-block;
}

.category-title,
.count-title,
.table-th-cursor
{
    cursor: pointer;
}

.badge-success {
    background-color: #468847;
}
.badge-success:hover {
    background-color: #356635;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none;
}

.navbar-btn {
    margin-right: 10px;
}

.fa {
    font-size: 28px;
}
