<div class="spinner" ng-if="load">
    <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
</div>
<div ng-if="!load">
    <div class="row">

        <div class="col-lg-3 col-md-3 col-sm-3">
            <select class="form-control" ng-model="data.role.title" ng-init="data.role.title = rolesArray[0].title" ng-change="update()">
                <option ng-repeat="item in rolesArray" value="{{item.title}}">{{item.title}}</option>
                <option ng-show="rolesArray.length > 1">{{'Mutual' | translate}}</option>
            </select>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <h5>{{'ChooseRange' | translate}}</h5>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <input date-range-picker class="form-control date-picker" type="text" ng-model="data.date" options="data.options" />
        </div>


    </div>
<!-- {{data.date}} -->
    <div class="col-lg-12 col-md-12 col-sm-12">
        <uib-tabset type="tabs" justified="true">
            <uib-tab select="select(1)">
                <uib-tab-heading>
                    {{'Incomes' | translate}}
                    <br> ({{'BarChart' | translate}})
                </uib-tab-heading>
                <nvd3 options="chart1.options" data="chart1.data" api="chart1.api"></nvd3>
            </uib-tab>

            <uib-tab select="select(2)">
                <uib-tab-heading>
                    {{'Costs' | translate}}
                    <br> ({{'BarChart' | translate}})
                </uib-tab-heading>
                <nvd3 options="chart2.options" data="chart2.data" api="chart2.api"></nvd3>
            </uib-tab>
            <uib-tab select="select(3)">
                <uib-tab-heading>
                    {{'Costs' | translate}}
                    <br> ({{'PieChart' | translate}})
                </uib-tab-heading>
                <nvd3 options="chart3.options" data="chart3.data" api="chart3.api"></nvd3>
            </uib-tab>
            <uib-tab select="select(4)">
                <uib-tab-heading>
                    {{'Incomes' | translate}}
                    <br> ({{'PieChart' | translate}})
                </uib-tab-heading>
                <nvd3 options="chart4.options" data="chart4.data" api="chart4.api"></nvd3>
            </uib-tab>
        </uib-tabset>
    </div>
</div>