<div class="spinner" ng-if="load">
    <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
</div>
<div ng-if="!load">


    <div class="row">

        <div class="col-xs-3">
            <select class="form-control" ng-model="data.role.title" ng-init="data.role.title = rolesArray[0].title" ng-change="update()">
                <option ng-repeat="item in rolesArray" value="{{item.title}}">{{item.title}}</option>
                <option ng-show="rolesArray.length > 1">Общий</option>
            </select>
        </div>
        <div class="col-xs-3">
            <h5>Выберите диапазон</h5>
        </div>
        <div class="col-xs-6">
            <input date-range-picker class="form-control date-picker" type="text" ng-model="data.date" options="data.options" />
        </div>


    </div>
{{data.date}}
    <div class="col-xs-12">

        <uib-tabset type="pills">
            <uib-tab select="select(1)">
                <uib-tab-heading>
                    Доходы
                    <br> (Столбиковая диаграмма)
                </uib-tab-heading>
                <nvd3 options="chart1.options" data="chart1.data" api="chart1.api"></nvd3>
            </uib-tab>

            <uib-tab select="select(2)">
                <uib-tab-heading>
                    Расходы
                    <br> (Столбиковая диаграмма)
                </uib-tab-heading>
                <nvd3 options="chart2.options" data="chart2.data" api="chart2.api"></nvd3>
            </uib-tab>
            <uib-tab select="select(3)">
                <uib-tab-heading>
                    Расходы
                    <br> (Круговая диаграмма)
                </uib-tab-heading>
                <nvd3 options="chart3.options" data="chart3.data" api="chart3.api"></nvd3>
            </uib-tab>
            <uib-tab select="select(4)">
                <uib-tab-heading>
                    Источники доходов
                    <br> (Круговая диаграмма)
                </uib-tab-heading>
                <nvd3 options="chart4.options" data="chart4.data" api="chart4.api"></nvd3>
            </uib-tab>
        </uib-tabset>
    </div>


</div>
</div>