<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Перевод средств</h3>
</div>
<div class="modal-body" id="modal-body">
    <form class="form-horizontal" role="form">
            <div class="form-group">
                    <label  class="col-sm-4 control-label"> Участник</label>
                    <div class="col-sm-8">
                        <select class="form-control" ng-model='transfer.who' ng-options="key.title for key in rolesArr">    
                        </select>
                    </div>
                </div>
       <div class="form-group">
            <label  class="col-sm-4 control-label"> Накопление</label>
            <div class="col-sm-8">
                <select class="form-control" ng-model='transfer.from' ng-options="key.title for key in goalArr">
                </select>
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-4 control-label">Счет</label>
            <div class="col-sm-8">
                <select class="form-control" ng-model='transfer.to' ng-options="key.title for key in billsCategories">
                </select>
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-4 control-label">Сумма перевода</label>
            <div class="col-sm-8">
                 <input type="number" placeholder="Сумма" required min='1' class="form-control" ng-model='transfer.sum'>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 clearfix">
                <button class="btn btn-danger pull-left" type="button" ng-click="cancel()">Отмена</button>
                <button class="btn btn-primary pull-right" type="submit" ng-click="ok(transfer)">Сохранить</button>
            </div>
        </div>
    </form>
</div>
<!--
<div class="modal-footer clearfix">
        <button class="btn btn-danger pull-left" type="button" ng-click="modalCtrl.cancel()">Отмена</button>
        <button class="btn btn-primary pull-right" type="button" ng-click="modalCtrl.ok()">Сохранить</button>
</div>-->
