<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header" id="site-title">
            <img src="./img/1600.png" style="height:50px" alt="" class="pull-left">
            <a class="navbar-brand">CashMoney</a>
        </div>
        <div class="navbar-header text-center" id="totalSum">
            <h5>{{'Total fonds' | translate}}</h5>
            <h4><span class="label label-success">{{homeCtrl.amount}}</span></h4>
        </div>
        <div class="navbar-header text-center" id="rates" ng-if="homeCtrl.seeRates">
            <h5>{{'Currency rate' | translate}}</h5>
            <button type="button" class="btn btn-default btn-sm" ng-click="homeCtrl.changeCurr(i)">
                {{homeCtrl.currencyRates[homeCtrl.i].ccy}}
            </button>
            <div>
                <span class="label label-info" title="{{'Buy' | translate}}">{{homeCtrl.currencyRates[homeCtrl.i].buy}}</span>
                - 
                <span class="label label-info" title="{{'Sale' | translate}}">{{homeCtrl.currencyRates[homeCtrl.i].sale}}</span>
            </div>
        </div>
        <div class="navbar-header text-center" id="converter" ng-if="homeCtrl.seeConv">
            <h5>{{'Currency converter' | translate}}</h5>
            <button type="button" class="btn btn-default btn-sm" ng-click="homeCtrl.convertCurr1()">
                {{homeCtrl.currencyNames[homeCtrl.j]}}
            </button>
            <input type="number" class="form-control input-sm" min="0" ng-model="homeCtrl.currency1">
            <button type="button" class="btn btn-success btn-sm" ng-click="homeCtrl.calculate()">=</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="homeCtrl.convertCurr2()">
                {{homeCtrl.currencyNames[homeCtrl.k]}}
            </button>
            <input type="number" class="form-control input-sm" min="0" disabled ng-model="homeCtrl.currency2">
        </div>
        <ul class="nav navbar-nav navbar-right">
            <button type="button" class="btn btn-default navbar-btn" title="{{'Settings' | translate}}" ui-sref="home.settings" ng-class="homeCtrl.classes[5]" ng-click="homeCtrl.changeClass(5)">
                <i class="fa fa-cogs" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-default navbar-btn" title="{{'Logout' | translate}}" ng-click="homeCtrl.signOut()">
                <span class="glyphicon glyphicon-log-in"></span> 
                <span class="hide-title">{{'Logout' | translate}}</span>
            </button>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row col-lg-2 col-md-2 col-sm-2" id="left-panel">
        <ul class="nav nav-pills nav-stacked">
            <li class="text-center" ng-class="homeCtrl.classes[0]" ng-click="homeCtrl.changeClass(0)"><a href="#" ui-sref="home.income"><i class="fa fa-money" aria-hidden="true"></i><br>{{'Incomes' | translate}}</a></li>
            <li class="text-center" ng-class="homeCtrl.classes[1]" ng-click="homeCtrl.changeClass(1)"><a href="#" ui-sref="home.costs"><i class="fa fa-shopping-cart" aria-hidden="true"></i><br>{{'Costs' | translate}}</a></li>
            <li class="text-center" ng-class="homeCtrl.classes[4]" ng-click="homeCtrl.changeClass(4)"><a href="#" ui-sref="home.goals"><i class="fa fa-diamond" aria-hidden="true"></i><br>{{'Goals' | translate}}</a></li>
            <li class="text-center" ng-class="homeCtrl.classes[2]" ng-click="homeCtrl.changeClass(2)"><a href="#" ui-sref="home.statistics"><i class="fa fa-bar-chart" aria-hidden="true"></i><br>{{'Statistics' | translate}}</a></li>
            <li class="text-center" ng-class="homeCtrl.classes[6]" ng-click="homeCtrl.changeClass(6)"><a href="#" ui-sref="home.history"><i class="fa fa-book" aria-hidden="true"></i><br>{{'History' | translate}}</a></li>
            <li class="text-center" ng-class="homeCtrl.classes[3]" ng-click="homeCtrl.changeClass(3)"><a href="#" ui-sref="home.calendar"><i class="fa fa-calendar" aria-hidden="true"></i><br>{{'Calendar' | translate}}</a></li>
        </ul>
    </div>

<!--    <div class="container">-->
    <div class="col-lg-10 col-md-10 col-sm-10 col-md-offset-2 col-lg-offset-2 col-sm-offset-2" id="info-window">
        <div ui-view=""></div>
    </div>
<!--    </div>-->
</div>