<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{"Adding a flow template" | translate}}</h3>
</div>
<div class="modal-body" id="modal-body">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-4 control-label">{{"Name" | translate}}</label>
            <div class="col-sm-8">
                <input ng-model='newTemplateModel.comment' type="text" class="form-control" id="countName" placeholder="{{'Name template' | translate}}" maxlength="25">
            </div>
            </div>  
        <div class="form-group">
            <label class="col-sm-4 control-label" >{{'Participant' | translate}}</label>
            <div class="col-sm-8">
                <select class='form-control' ng-model='newTemplateModel.who' ng-options="key.title for key in rolesArr">
                    
                </select>
            </div>
        </div>
        
        <div class="form-group">
            <label  class="col-sm-4 control-label">{{'Account' | translate}}</label>
            <div class="col-sm-8">
               
                <select class="form-control" ng-model='newTemplateModel.from' ng-options="key.title for key in billsCategories">

                </select>
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-4 control-label">{{'Category'| translate}}</label>
            <div class="col-sm-8">
                <select class="form-control" ng-model='newTemplateModel.to' ng-options="key.title for key in costsCategoriesArr">
                </select>
            </div>
        </div>
        
        <div class="form-group">
            <label  class="col-sm-4 control-label">{{"Amount of payment" | translate}}</label>
            <div class="col-sm-8">
                 <input type="number" placeholder="{{'Sum' | translate}}"  class="form-control" ng-model='newTemplateModel.sum'>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 clearfix">
                <button class="btn btn-danger pull-left" type="button" ng-click="cancel()">{{"Cancel" | translate}}</button>
                <button class="btn btn-primary pull-right" type="submit" ng-click="ok(newTemplateModel)">{{"Save" | translate}}</button>
            </div>
        </div>
    </form>
</div>
<!--
<div class="modal-footer clearfix">
        <button class="btn btn-danger pull-left" type="button" ng-click="modalCtrl.cancel()">Отмена</button>
        <button class="btn btn-primary pull-right" type="button" ng-click="modalCtrl.ok()">Сохранить</button>
</div>-->
