<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="./img/1600.png" style="height:50px" alt="" class="pull-left">
            <a class="navbar-brand">CashMoney</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <button type="button" class="btn btn-default navbar-btn" ng-click="signUp()">
                <span class="glyphicon glyphicon-user"></span> {{'Sign Up' | translate}}
            </button>
            <button type="button" class="btn btn-default navbar-btn" ng-click="signIn()">
                <span class="glyphicon glyphicon-log-in"></span> {{'Login' | translate}}
            </button>
        </ul>
    </div>
</nav>

<div class="container text-center" id="welcome-message">
    <h1>Здравствуйте!</h1>
    <p class="lead">Это приложение создано для учета личных финансовых потоков, удобства слежения за своими доходами и расходами.<br>
        Данный продукт это финальный проект нашей команды - Дмитрий Побережный, Евгений Сильченко и Станислав Бабенко, курса Front-End Advanced IT-школы<br>
        <a href="http://a-level.com.ua/"><img src="./img/logo-alevel.png" alt=""></a></p>
</div>
