<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="./img/1600.png" style="height:50px" alt="" class="pull-left">
            <a class="navbar-brand">WebSiteName</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <button type="button" class="btn btn-default navbar-btn" ng-click="signUp()">
                <span class="glyphicon glyphicon-user"></span> Sign Up
            </button>
            <button type="button" class="btn btn-default navbar-btn" ng-click="signIn()">
                <span class="glyphicon glyphicon-log-in"></span> Login
            </button>
        </ul>
    </div>
</nav>
