<div class="modal-header">
    <h3 class="modal-title">{{'Register' | translate }}</h4>
</div>
<div class="modal-body form-group">
    <form>
        <div class="form-group">
            <label for="name">{{'UserRegName' | translate}}:</label>
            <input type="text" ng-model="form.name" class="form-control" placeholder="{{'UserRegName' | translate}}" id="name" />
        </div>
        <div class="form-group">
            <label for="email">{{'E-mail' | translate}}:</label>
            <input type="text" ng-model="form.email" class="form-control" placeholder="{{'E-mail' | translate}}" id="email" />
        </div>
        <div class="form-group">
            <label for="pwd">{{'Password' | translate }}:</label>
            <input type="password" ng-model="form.pwd" class="form-control" placeholder="{{'Password' | translate }}" id="pwd" />
        </div>
        <div class="form-group">
            <label for="pwd2">{{'ConfirmPasswordRegistration' | translate }}:</label>
            <input type="password" ng-model="form.pwd2" class="form-control" placeholder="{{'ConfirmPasswordRegistration' | translate }}" id="pwd2"
            />
        </div>
        <div class="alert alert-danger" role="alert" ng-show="err" translate="{{err}}"></div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">
        {{'Cancel' | translate }}
    </button>
    <button class="btn btn-primary" type="button" ng-click="ok(form)">
        {{'Register' | translate }}
    </button>
</div>