<div class="row">
    <form class="col-md-12">
        <div class="input-group" id="income-form">
<!--            tmpIncome {{incomeCtrl.tmpIncome.date}}-->
            <div class="col-md-2">
                
                    <input type="text" 
                    class="form-control"
                    placeholder="{{'Date' | translate}}"
                    uib-datepicker-popup="dd.MM.yyyy"
                    ng-model="incomeCtrl.tmpIncome.date" is-open="incomeCtrl.popup.opened" 
                    datepicker-options="incomeCtrl.dateOptions"
                    show-button-bar="false" ng-focus="incomeCtrl.open()" />
                    
            </div>
            <div class="col-md-2">
                    <select class="form-control" ng-model="incomeCtrl.tmpIncome.who" >
                        <!-- <option value="" disabled selected>Участник</option> ng-options="role.title for role in incomeCtrl.rolesArr"-->
                        <!-- <select class="form-control" ng-model='newCosts.who' > -->
                        <!-- </select> -->
                        <option value="" disabled selected>{{'Participant' | translate}}</option>
                        <option ng-repeat="item in incomeCtrl.rolesArr">{{item.title}}</option>
                    </select>
            </div>
            <div class="col-md-2">
                <select class="form-control" ng-model="incomeCtrl.tmpIncome.from">
                    <option value="" disabled selected>{{'Source' | translate}}</option>
                    <option ng-repeat="item in incomeCtrl.incomeSourceArr" ng-value="item" ng-init>{{item.title}}</option>
                </select>
            </div>
            <div class="col-md-2">
                <select class="form-control" ng-model="incomeCtrl.tmpIncome.to">
                    <option value="" disabled selected>{{'Account' | translate}}</option>
                    <option ng-repeat="item in incomeCtrl.incomeAccountsArr" ng-value="item">{{item.title}}</option>
                </select>
            </div>
            <div class="col-md-1">
                <input type="number" placeholder="{{'Sum' | translate}}" min='0' class="form-control" ng-model="incomeCtrl.tmpIncome.sum">
            </div>
<!--
            <div class="col-md-2">
                <div class="input-group">
                    <input type="text" 
                    class="form-control"
                    uib-datepicker-popup="dd.MM.yyyy"
                    ng-model="incomeCtrl.tmpIncome.date" is-open="incomeCtrl.popup.opened" 
                    datepicker-options="incomeCtrl.dateOptions"
                    ng-required="true"
                    show-button-bar="false"  />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="incomeCtrl.open()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
-->
            <div class="col-md-2">
                <input type="text" placeholder="{{'Comment' | translate}}" class="form-control" ng-model="incomeCtrl.tmpIncome.comment">
            </div>
            <span class="input-group-btn pull-left">
                <button class="btn btn-success" type="submit" ng-click="incomeCtrl.addIncomeTransfer(incomeCtrl.tmpIncome)">{{'Transfer' | translate}}</button>
            </span>
        </div>
    </form>
</div>

<div class="col-md-6">
    <div class="panel panel-success">
        <div class="panel-heading clearfix">
            <h3 class="panel-title incomes-panel">{{'Income sources' | translate}}</h3>
            <div class="pull-right">
                <button type="button" class="btn btn-success btn-sm" 
        ng-click="incomeCtrl.addIncomeSource()">
                    <span class="glyphicon glyphicon-plus"></span> {{'Add category' | translate}}
                </button>
            </div>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat='item in incomeCtrl.incomeSourceArr'>
                    <span>{{item.title}}</span>
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-primary btn-xs" title="{{'Edit' | translate}}" 
        ng-click="incomeCtrl.editIncomeSource(item)">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" title="{{'Delete' | translate}}" 
        ng-click="incomeCtrl.delIncomeSource(item)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="panel panel-warning">
        <div class="panel-heading clearfix">
            <h3 class="panel-title incomes-panel">{{'Your accounts' | translate}}</h3>
            <div class="pull-right">
                <button type="button" class="btn btn-warning btn-sm" 
        ng-click="incomeCtrl.addIncomeAccount()">
                    <span class="glyphicon glyphicon-plus"></span> {{'Add account' | translate}}
                </button>
            </div>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat='item in incomeCtrl.incomeAccountsArr'>
                    <span>{{item.title}} <span class="badge badge-success" title="{{'Available' | translate}}">{{item.amount}}</span></span>
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-primary btn-xs" title="{{'Edit' | translate}}" ng-click="incomeCtrl.editIncomeAccount(item)">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" title="{{'Delete' | translate}}" 
            ng-click="incomeCtrl.delIncomeAccount(item)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h3 class="x1">{{'Recent incomes' | translate}}</h3>
            <!-- <div class="pull-right x2">
                    <ul uib-pagination total-items="incomeCtrl.totalItems" ng-model="incomeCtrl.currentPage" ng-change="incomeCtrl.pageChanged()" class="pagination-md vcenter" items-per-page="incomeCtrl.itemsPerPage"  previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
            </div> -->

        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <!-- <th> -->
<!--
                    <th ng-click="sortBy('number')">
                        <i class="glyphicon" ng-class="{'glyphicon-menu-up': sortField === 'number', 'glyphicon-menu-down': sortField === '-number'}"></i>
-->
                        <!-- # -->
                    <!-- </th> -->
                    <th>{{'Sum' | translate}}</th>
                    <th>{{'From/To' | translate}}</th>
                    <th>{{'Participant' | translate}}</th>
                    <th> {{'Date' | translate}}</th>
                    <th>{{'Comment' | translate}}</th>
                    <th>{{'Delete' | translate}}</th>
                </thead>
                <tbody>
                        <!-- .slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) -->
                    <tr ng-repeat='item in  incomeCtrl.incomeTransfers'>   
                        <!-- | orderBy: sortField -->
                        <!-- <td>{{$index+1}}</td> -->
                        <td>{{item.sum}}</td>
                        <td>{{'From' | translate}} {{item.from.title}} {{'to' | translate}} {{item.to.title}}</td>
                        <td>{{item.who}}</td>
                        <td>{{item.date | date : "dd.MM.yyyy"}}</td>
                        <td>{{item.comment}}</td>
                        <td><button class="btn btn-danger btn-xs" title="{{'Delete' | translate}}" 
        ng-click="incomeCtrl.delIncomeTransfer(item)"><span class="glyphicon glyphicon-remove"></span></button></td>
                    </tr>
                </tbody>
            </table>
            <!-- <table class="table table-hover">
                    <thead>
                        <th>
                            #
                        </th>
                        <th ng-click="sortBy('sum')" class="table-th-cursor" title="{{'Sort' | translate}}">
                            <i class="glyphicon" ng-class="{'glyphicon-menu-up': sortField === 'sum', 'glyphicon-menu-down': sortField === '-sum'}"></i>
                            {{'Sum' | translate}}
                        </th>
                        <th>
                            {{'From/To' | translate}}
                        </th>
                        <th ng-click="sortBy('who')" class="table-th-cursor" title="{{'Sort' | translate}}">
                            <i class="glyphicon" ng-class="{'glyphicon-menu-up': sortField === 'who', 'glyphicon-menu-down': sortField === '-who'}"></i>
                            {{'Participant' | translate}}
                        </th>
                        <th ng-click="sortBy('date')" class="table-th-cursor" title="{{'Sort' | translate}}">
                            <i class="glyphicon" ng-class="{'glyphicon-menu-up': sortField === 'date', 'glyphicon-menu-down': sortField === '-date'}"></i>
                            {{'Date' | translate}}
                        </th>
                        <th>{{'Comment' | translate}}</th>
                        <th>{{'Delete' | translate}}</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat='item in incomeCtrl.incomeTransfers | orderBy: sortField'>
                            <td>{{$index+1}}</td>
                            <td>{{item.sum}}</td>
                            <td>{{'From' | translate}} "{{item.from.title}}" {{'to' | translate}} "{{item.to.title}}"</td>
                            <td>{{item.who}}</td>
                            <td>{{item.date | date : "dd.MM.yyyy"}}</td>
                            <td>{{item.comment}}</td>
                            <td><button class="btn btn-danger btn-xs" title="{{'Delete' | translate}}" 
            ng-click="incomeCtrl.delIncomeTransfer(item)"><span class="glyphicon glyphicon-remove"></span></button></td>
                        </tr>
                    </tbody>
                </table> -->
        </div>
    </div>
    <div class="amount" >{{incomeCtrl.amount1}}</div>
</div>