<div class="row">
    <form class="col-md-12">
        <div class="input-group" id="costs-form">
             <div class="col-md-2">
                    <input type="text"
                    class="form-control"
                    placeholder="Дата" 
                    uib-datepicker-popup="dd.MM.yyyy" 
                    ng-model="newCosts.date" is-open="popup.opened"
                    datepicker-options="dateOptions" ng-required="true"
                    show-button-bar="false"
                    ng-focus="openPicker()" />
            </div>
            <div class="col-md-2 ">
                <select class="form-control" ng-model='newCosts.who' >
                    <option value="" disabled selected>Участник</option>
                    <option ng-repeat="key in rolesArr" ng-value="key">{{key.title}}</option>
                </select>
            </div>
            <div class="col-md-2">
                <select class="form-control" ng-model='newCosts.from'>
                    <option value="" selected disabled>Счет</option>
                    <option ng-repeat="item in billsCategories" ng-value="item">{{item.title}}</option>

                </select>
            </div>
            <div class="col-md-2">
                <select class="form-control" ng-model='newCosts.to'>
                    <option value=""  disabled selected >Цель</option>
                    <option ng-repeat='key in costsCategoriesArr' ng-value="key">{{key.title}}</option>
                </select>
            </div>
            <div class="col-md-1">
                <input type="number" placeholder="Сумма" min='0' class="form-control" ng-model='newCosts.sum'>
            </div>
           
            <div class="col-md-2">
                <input type="text" placeholder="Комментарий" class="form-control" ng-model='newCosts.comment'>
            </div>
            <span class="input-group-btn pull-left">
                <button class="btn btn-success" type="submit" ng-click='addNewCosts(newCosts)'>Внести</button>
            </span>
        </div>
    </form>
</div>
Модалочка добавления цели
<!-- <button type="button" class="btn btn-success" ng-click="createNewGoal()">
    Press Me Hard
</button> -->